body{
    margin: 0;
    padding: 40px 0;
    background-color: rgb(255, 182, 193);
    background-image: url('Table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Exo, sans-serif;
}

.Frame{
    width: 600px;
    min-height: 300px;
    margin: auto;

    padding: 60px 50px;
    border: 5px solid brown;
    border-radius: 20px;

    background-color: #fdfcfa;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 28px,
        rgba(92, 51, 10, 0.3) 29px
    );
}

p{
    margin-top: -5px;
    font-size: 20px;
    line-height: 29px;
    color: rgb(92, 51, 10);
    text-indent: 40px;
}
footer{
    font-family: Pacifico, cursive;
    text-align: right;
    margin-right: 30px;
    margin-top: 29px;
    font-size: 20px;
    color:rgb(92, 51, 10)
}

.back-btn{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-family: Pacifico, cursive;
    color: white;
    background-color: #8b4513;
    padding: 10px 20px;
    border-radius: 20px;
}