
body{
    font-family: 'Eco', Georgia;
    margin: 0;
    margin-top: 300px;
    padding: 0;
    box-sizing: border-box;
    display: block;
    height: 100vh;
    background-image: url('barbiebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h2{
    font-family: Pacifico, cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(92, 51, 10);
    position: relative;
    text-align: left;
    font-weight: bold;
    margin-left: 0px;
    padding-top: 5px;

}

p{
    font-family: Exo, Pacifico, cursive;
    font-size: 20px;
    color: rgb(92, 51, 10);
    text-align: left;
    margin-bottom: 30px;
    line-height: 28px;
    padding-top: 9px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    text-indent: 40px;
    transform: translateY(2px);

}
p.bordered{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 5px dashed brown;
    padding: 15x 20x;
    margin: 15px 0;
    border-radius: 30px;
    background-color: pink;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.envelope{
    position: relative;
    width: 350px;
    height: 230px;
    margin: 40px auto;
    background: peachpuff;
    border: 3px solid #8b4513;
    border-radius: 10px;
    overflow: hidden;
}

.envelope .flap{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-top: 120px solid #e6c9a8;

    transform-origin: top;
    transition: transform 0.8s ease;
    z-index: 3;
}
.envelope .letter{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-height: 90%;
    background: #fffaf0;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;

    overflow-y: auto;
    pointer-events: auto;

    transition: bottom 0.8s ease;
}

.envelope .letter::-webkit-scrollbar-track{
    background: #e7c5a5;
    border-radius: 10px;
}

.envelope .letter::-webkit-scrollbar-thumb:hover{
    background-color: #8b4513;
    border-radius: 10px;
    border: 2px solid #c79e78;
}

.envelope .letter::-wekbit-scrollbar-thumb:hover{
    background-color: #5c330a;
}

.envelope:hover .flap, .envelope:focus-within .flap{
    transform: rotateX(180deg);
}
.envelope:hover .letter, .envelope:focus-within .letter{
    bottom: 10px;
}
.read-btn{
    display: block;
    margin-top: 5px;
    padding: 8px 18px;
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 14px;
    color: white;
    text-decoration: none;

    background-color: #8b4513;
    border-radius: 20px;

    transition: background-color 0.3s, transform 0.2s ease;
}
.read-btn:hover{
    background-color: #5c330a;
    transform: scale(1.05);
}